{% block style %}
<style>
    .shell-select-refresh {
        border-width: 1px;
        border-style: dashed;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block script %}
<!--显示模板-->
<script id="main-button-type-input-send-text-show-input-group-shell-select-template" type="text/html">
    <div class="input-send-text-group-box" linkage="{{button_input.linkage}}"
         style="{{if tab_button.linkage && button_input.linkage && button_input.linkage!='' && tab_button.linkage_value !=button_input.linkage}}display: none;{{/if}}">
        {{if button_input.margin_left}}
        <div class="input-send-text-margin-box"
             style="width:{{button_input.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if button_input.title}}
            <span class="title-span"
                  style="{{if button_input.title_width}}width: {{button_input.title_width}}px;{{/if}} ">
            {{button_input.title}}
            </span>
            {{/if}}
            <select class="input-send-text-input {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                    value_name="{{button_input.value_name}}"
                    style="{{if button_input.width}}width: {{button_input.width}}px;{{/if}}"
                    onchange="inputSendTextInputShellSelectChange(this,{{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}})">
                {{if button_input.value}}
                <option value="{{button_input.value}}">{{button_input.value_text}}</option>
                {{/if}}
            </select><span
                class="shell-select-refresh {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                onclick="inputSendTextInputButtonShellInputRefresh(this,{{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}})">R</span>
        </div>
        {{if button_input.margin_right}}
        <div class="input-send-text-margin-box"
             style="width:{{button_input.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>
<!--编辑模板-->
<script id="setting-button-type-input-send-text-show-input-group-shell-select-template" type="text/html">
    <div class="input-send-text-group-box" linkage="{{button_input.linkage}}"
         style="{{if tab_button.linkage && button_input.linkage && button_input.linkage!='' && tab_button.linkage_value !=button_input.linkage}}display: none;{{/if}}">
        {{if button_input.margin_left}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'margin_left','width')"
             style="width:{{button_input.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if button_input.title}}
            <span class="title-span drag-width"
                  drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'title_width','width')"
                  style="{{if button_input.title_width}}width: {{button_input.title_width}}px;{{/if}} ">
            {{button_input.title}}
            </span>
            {{/if}}
            <select onclick="settingInputBlur(this)"
                    class="input-send-text-input drag-width {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                    drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'width','width')"
                    style="{{if button_input.width}}width: {{button_input.width}}px;{{/if}}">
                {{if button_input.value}}
                <option value="{{button_input.value}}">{{button_input.value_text}}</option>
                {{/if}}
            </select><span
                class="shell-select-refresh {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}">R</span>
        </div>
        {{if button_input.margin_right}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'margin_right','width')"
             style="width:{{button_input.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>
<!--编辑模板(弹框)-->
<script id="setting-button-type-input-send-text-input-group-shell-select-template" type="text/html">
    <div class="setting-button-input-send-text-box-group setting-button-input-send-text-input-group"
         group-type="shell-select">
        <p class="setting-button-input-send-text-box-group-title">
            <span class="setting-button-input-send-text-box-group-title-span">
            shell下拉框
            </span>
            <button class="setting-button-input-send-text-box-group-title-button"
                    onclick="settingButtonInputSendTextBoxGroupTitleButtonContext(this)">
                展开/收缩
            </button>
            {{include "setting-button-type-show-input-send-text-operation-button-template"}}
        </p>
        <table class="setting-button-input-send-text-box-group-context" style="{{if init_edit }}display: none;{{/if}}">
            <tr>
                <td>变量名称：</td>
                <td><input class="setting-button-input-send-text-input-group-value_name" type="text"
                           value="{{button_input.value_name}}"></td>
            </tr>
            <tr>
                <td>默认值：</td>
                <td><input class="setting-button-input-send-text-input-group-value" type="text"
                           value="{{button_input.value}}"></td>
                <td>下拉框宽度：</td>
                <td><input class="setting-button-input-send-text-input-group-width" type="number"
                           value="{{button_input.width}}"></td>
            </tr>
            <tr>
                <td> 选项shell：</td>
                <td colspan="3"><textarea class="setting-button-input-send-text-input-group-value_option_shell" rows="5"
                                          style="width: 500px">{{button_input.value_option_shell}}</textarea></td>
            </tr>
            <tr>
                <td> 处理shell：</td>
                <td colspan="3" class="setting-button-input-send-text-input-group-value_option_shell_data_js_box">
                    <textarea class="setting-button-input-send-text-input-group-value_option_shell_data_js" rows="7"
                              style="width: 500px">{{button_input.value_option_shell_data_js}}</textarea>
                    <div class="bottom_edit_tips">return [{"text":"text","value":"value"}]</div>
                    <div>
                        <button onclick="input_send_text_value_option_quick_shell_data_js(this,0)">快捷处理</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>标题：</td>
                <td><input class="setting-button-input-send-text-input-group-title" type="text"
                           value="{{button_input.title}}"></td>
                <td>标题宽度：</td>
                <td><input class="setting-button-input-send-text-input-group-title_width" type="number"
                           value="{{button_input.title_width}}"></td>
            </tr>
            <tr>
                <td>联动：</td>
                <td><input type="text" class="setting-button-input-send-text-input-group-linkage"
                           value="{{button_input.linkage}}"></td>
                <td>颜色：</td>
                <td>
                    <select class="setting-button-input-send-text-son-style {{if button_input.style}}button-color-{{button_input.style}}{{/if}}"
                            onchange="settingButtonStyleSelect(this)">
                        <option value="">跟随组件</option>
                        {{each button_style_list button_style }}
                        {{if button_input.style==button_style }}
                        <option value="{{button_style}}" selected> {{button_style}}</option>
                        {{else}}
                        <option value="{{button_style}}"> {{button_style}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>前间距</td>
                <td><input class="setting-button-input-send-text-input-group-margin_left" type="number"
                           value="{{button_input.margin_left}}"></td>
                <td>后间距</td>
                <td><input class="setting-button-input-send-text-input-group-margin_right" type="number"
                           value="{{button_input.margin_right}}"></td>
            </tr>
        </table>

    </div>
</script>
<!--js-->
<script>
    const VALUE_OPTION_QUICK_SHELL_DATA_JS = [`// 替换  [分隔符, textIndex, valueIndex]
const s = ["||",1,0]


// 忽略
const r=[]
for(var index in data.result){
    const result = data.result[index]
    if(result){
        const d = data.result[index].split(s[0])
        r.push({"text":d[s[1]],"value":d[s[2]]})
    }
}
return r`]

    function input_send_text_value_option_quick_shell_data_js(that, index) {
        const shellDataJsInput = $(that).parents('.setting-button-input-send-text-input-group-value_option_shell_data_js_box').find(".setting-button-input-send-text-input-group-value_option_shell_data_js")
        shellDataJsInput.val(VALUE_OPTION_QUICK_SHELL_DATA_JS[index])
    }

    function inputSendTextInputButtonShellInputRefresh(that, tab_index, tab_group_index, tab_button_index, button_input_index) {
        const selectDom = $(that).prev()
        selectDom.empty()
        const buttonInput = STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[tab_button_index].inputs[button_input_index]
        const buttonInputValue = buttonInput.value
        const shellResult = execShell(buttonInput.value_option_shell)
        const r = eval(`(function (data) {
            ${buttonInput.value_option_shell_data_js}
        })`)(shellResult)
        if (r) {
            selectDom.empty()
            for (let index in r) {
                const x = r[index]
                selectDom.append(`<option value="${x.value}" ${x.value === buttonInputValue ? 'selected' : ''}>${x.text}</option>`)
            }
        }
    }

    function inputSendTextInputShellSelectChange(that, tab_index, tab_group_index, button_index, button_input_index) {
        const x = $(that)
        STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[button_index].inputs[button_input_index].value = x.val()
        STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[button_index].inputs[button_input_index].value_text = x.find("option:selected").text()
    }

    function input_send_text_input_group_select_shell_input_data_fun(inputGroupDom) {
        const inputValueName = inputGroupDom.find('.setting-button-input-send-text-input-group-value_name')[0].value
        let inputValue = inputGroupDom.find('.setting-button-input-send-text-input-group-value')[0].value
        let inputWidth = parseInt(inputGroupDom.find('.setting-button-input-send-text-input-group-width')[0].value) || 200
        const valueOptionShell = inputGroupDom.find('.setting-button-input-send-text-input-group-value_option_shell')[0].value
        const valueOptionShellDataJs = inputGroupDom.find('.setting-button-input-send-text-input-group-value_option_shell_data_js')[0].value
        const inputTitle = inputGroupDom.find('.setting-button-input-send-text-input-group-title')[0].value
        const inputTitleWidth = inputGroupDom.find('.setting-button-input-send-text-input-group-title_width')[0].value
        const linkage = inputGroupDom.find('.setting-button-input-send-text-input-group-linkage')[0].value
        const style = inputGroupDom.find('.setting-button-input-send-text-son-style')[0].value
        const inputMarginLeft = inputGroupDom.find('.setting-button-input-send-text-input-group-margin_left')[0].value
        const inputMarginRight = inputGroupDom.find('.setting-button-input-send-text-input-group-margin_right')[0].value
        if (inputWidth === 0) {
            inputWidth = 200
        }
        if (inputWidth < 20) {
            inputWidth = 20
        }
        return {
            'type': 'shell-select',
            'value_name': inputValueName,
            'value': inputValue,
            'width': inputWidth,
            'value_option_shell': valueOptionShell,
            'value_option_shell_data_js': valueOptionShellDataJs,
            'title': inputTitle,
            'title_width': inputTitleWidth,
            'linkage': linkage,
            'style': style,
            'margin_left': inputMarginLeft,
            'margin_right': inputMarginRight,
        }
    }

    //注册
    input_send_text_input_group_register("shell-select", "shell下拉框",
        "main-button-type-input-send-text-show-input-group-shell-select-template",
        "setting-button-type-input-send-text-show-input-group-shell-select-template",
        "setting-button-type-input-send-text-input-group-shell-select-template",
        input_send_text_input_group_select_shell_input_data_fun
    )
</script>
{% endblock %}
{% block context %}

{% endblock %}