{% block style %}
<style>
    .setting-button-type-input-send-text-input-group-checkbox-list {
        background: #2e2e2e;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block script %}
<!--显示模板-->
<script id="main-button-type-input-send-text-show-input-group-checkbox-template" type="text/html">
    <div class="input-send-text-group-box" linkage="{{button_input.linkage}}"
         style="{{if tab_button.linkage && button_input.linkage && button_input.linkage!='' && tab_button.linkage_value !=button_input.linkage}}display: none;{{/if}}">
        {{if button_input.margin_left}}
        <div class="input-send-text-margin-box"
             style="width:{{button_input.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if button_input.title}}
            <span class="title-span"
                  style="{{if button_input.title_width}}width: {{button_input.title_width}}px;{{/if}} ">
            {{button_input.title}}
            </span>
            {{/if}}
            {{each button_input.checkbox_list checkbox checkbox_index}}
            <label class="title-label {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                   style="{{if checkbox.title_width}}width: {{checkbox.title_width}}px;{{/if}}">
                {{if checkbox.checked}}
                <input type="checkbox" checked
                       onclick="input_send_text_input_group_checkbox_input_checked(this,{{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},{{checkbox_index}})">
                {{else}}
                <input type="checkbox"
                       onclick="input_send_text_input_group_checkbox_input_checked(this,{{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},{{checkbox_index}})">
                {{/if}}
                {{checkbox.title}}
            </label>
            {{/each}}
        </div>
        {{if button_input.margin_right}}
        <div class="input-send-text-margin-box"
             style="width:{{button_input.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>
<!--编辑模板-->
<script id="setting-button-type-input-send-text-show-input-group-checkbox-template" type="text/html">
    <div class="input-send-text-group-box" linkage="{{button_input.linkage}}"
         style="{{if tab_button.linkage && button_input.linkage && button_input.linkage!='' && tab_button.linkage_value !=button_input.linkage}}display: none;{{/if}}">
        {{if button_input.margin_left}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'margin_left','width')"
             style="width:{{button_input.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if button_input.title}}
            <span class="title-span drag-width"
                  drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'title_width','width')"
                  style="{{if button_input.title_width}}width: {{button_input.title_width}}px;{{/if}} ">
            {{button_input.title}}
            </span>
            {{/if}}
            {{each button_input.checkbox_list checkbox checkbox_index}}
            <label class="title-label drag-width {{if button_input.style }}button-color-{{button_input.style}}{{else if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                   drag-width="dragWidthButtonInputButtonInputCheckboxData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},{{checkbox_index}},'title_width','width')"
                   style="{{if checkbox.title_width}}width:{{checkbox.title_width}}px;{{/if}}">
                {{if checkbox.checked}}
                <input type="checkbox" checked>
                {{else}}
                <input type="checkbox">
                {{/if}}
                {{checkbox.title}}
            </label>
            {{/each}}
        </div>
        {{if button_input.margin_right}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonInputButtonInputData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{button_input_index}},'margin_right','width')"
             style="width:{{button_input.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>
<!--编辑模板(弹框)-->
<script id="setting-button-type-input-send-text-input-group-checkbox-template" type="text/html">
    <div class="setting-button-input-send-text-box-group setting-button-input-send-text-input-group"
         group-type="checkbox">
        <p class="setting-button-input-send-text-box-group-title">
            <span class="setting-button-input-send-text-box-group-title-span">
            多选框
            </span>
            <span class="setting-button-input-send-text-box-group-title-name-span">
            </span>
            <button class="setting-button-input-send-text-box-group-title-button"
                    onclick="settingButtonInputSendTextBoxGroupTitleButtonContext(this)">
                展开/收缩
            </button>
            {{include "setting-button-type-show-input-send-text-operation-button-template"}}
        </p>
        <table class="setting-button-input-send-text-box-group-context" style="{{if init_edit }}display: none;{{/if}}">
            <tr>
                <td>值信息</td>
                <td colspan="3">
                    <div class="setting-button-type-input-send-text-show-input-group-box-group">
                        <div class="setting-button-type-input-send-text-show-input-group-box">
                            {{each button_input.checkbox_list checkbox checkbox_index}}
                            <% include('setting-button-type-input-send-text-input-group-checkbox-list-template',
                            {
                            'tab_index':tab_index,
                            'tab_group_index':tab_group_index,
                            'tab_button_index':tab_button_index,
                            'button_input_index':button_input_index,
                            'checkbox_index':checkbox_index,
                            'tab_button':tab_button,
                            'one_button':one_button,
                            'checkbox':checkbox,
                            }
                            ) %>
                            {{/each}}

                        </div>
                        <div style="margin-bottom: 15px;">
                            <button onclick="input_send_text_input_group_checkbox_input_group_add(this)">
                                新增多选项
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>标题：</td>
                <td><input class="setting-button-input-send-text-input-group-title" type="text"
                           value="{{button_input.title}}"></td>
                <td>标题宽度：</td>
                <td><input class="setting-button-input-send-text-input-group-title_width" type="number"
                           value="{{button_input.title_width}}"></td>
            </tr>
            <tr>
                <td>联动</td>
                <td><input type="text" class="setting-button-input-send-text-input-group-value_linkage"
                           value="{{button_input.linkage}}"></td>
                <td>颜色：</td>
                <td>
                    <select class="setting-button-input-send-text-son-style {{if button_input.style}}button-color-{{button_input.style}}{{/if}}"
                            onchange="settingButtonStyleSelect(this)">
                        <option value="">跟随组件</option>
                        {{each button_style_list button_style }}
                        {{if button_input.style==button_style }}
                        <option value="{{button_style}}" selected> {{button_style}}</option>
                        {{else}}
                        <option value="{{button_style}}"> {{button_style}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>前间距</td>
                <td><input class="setting-button-input-send-text-input-group-margin_left" type="number"
                           value="{{button_input.margin_left}}"></td>
                <td>后间距</td>
                <td><input class="setting-button-input-send-text-input-group-margin_right" type="number"
                           value="{{button_input.margin_right}}"></td>
            </tr>
        </table>

    </div>
</script>
<!--编辑模板(弹框)(选项)-->
<script id="setting-button-type-input-send-text-input-group-checkbox-list-template" type="text/html">
    <div class="setting-button-type-input-send-text-input-group-checkbox-list setting-button-input-send-text-box-group2">
        <table>
            <tr>
                <td>标题</td>
                <td><input type="text" class="setting-button-type-input-send-text-input-group-checkbox-list-title"
                           value="{{checkbox.title}}"></td>
                <td>标题宽度</td>
                <td><input type="number"
                           class="setting-button-type-input-send-text-input-group-checkbox-list-title_width"
                           value="{{checkbox.title_width}}"></td>
            </tr>
            <tr>
                <td>变量名称</td>
                <td><input type="text" class="setting-button-type-input-send-text-input-group-checkbox-list-value_name"
                           value="{{checkbox.value_name}}"></td>
                <td>默认</td>
                <td>
                    {{if checkbox.checked}}
                    <input type="checkbox" class="setting-button-type-input-send-text-input-group-checkbox-list-checked"
                           checked>
                    {{else}}
                    <input type="checkbox"
                           class="setting-button-type-input-send-text-input-group-checkbox-list-checked">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>选中值</td>
                <td><input type="text"
                           class="setting-button-type-input-send-text-input-group-checkbox-list-select_value"
                           value="{{checkbox.select_value}}"></td>
                <td>非选中值</td>
                <td><input type="text"
                           class="setting-button-type-input-send-text-input-group-checkbox-list-unselect_value"
                           value="{{checkbox.unselect_value}}"></td>
            </tr>
        </table>
        <%include("setting-button-type-show-input-send-text-operation-template",{'className':'.setting-button-input-send-text-box-group2'})%>
    </div>
</script>
<!--js-->
<script>
    function input_send_text_input_group_checkbox_input_checked(that, tab_index, tab_group_index, button_index, button_input_index, checkbox_index) {
        STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[button_index].inputs[button_input_index].checkbox_list[checkbox_index].checked = that.checked
    }

    function input_send_text_input_group_checkbox_input_group_add(that) {
        $(that).parents('.setting-button-type-input-send-text-show-input-group-box-group').find('.setting-button-type-input-send-text-show-input-group-box').append(template('setting-button-type-input-send-text-input-group-checkbox-list-template', {"checkbox": {}}))
    }

    function input_send_text_input_group_checkbox_input_data_fun(inputGroupDom) {
        const checkboxDomList = inputGroupDom.find('.setting-button-type-input-send-text-input-group-checkbox-list')
        const inputTitle = inputGroupDom.find('.setting-button-input-send-text-input-group-title')[0].value
        const inputTitleWidth = inputGroupDom.find('.setting-button-input-send-text-input-group-title_width')[0].value
        const linkage = inputGroupDom.find('.setting-button-input-send-text-input-group-value_linkage')[0].value
        const style = inputGroupDom.find('.setting-button-input-send-text-son-style')[0].value
        const inputMarginLeft = inputGroupDom.find('.setting-button-input-send-text-input-group-margin_left')[0].value
        const inputMarginRight = inputGroupDom.find('.setting-button-input-send-text-input-group-margin_right')[0].value
        if (checkboxDomList.length <= 0) {
            alert("多选框未找到选项")
            return null
        }
        const checkbox_list = []
        for (let i = 0; i < checkboxDomList.length; i++) {
            const checkboxDom = checkboxDomList.eq(i)
            const value_name = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-value_name')[0].value
            const checked = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-checked')[0].checked
            const selectValue = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-select_value')[0].value
            const unselectValue = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-unselect_value')[0].value
            const title = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-title')[0].value
            const titleWidth = checkboxDom.find('.setting-button-type-input-send-text-input-group-checkbox-list-title_width')[0].value
            checkbox_list.push({
                'value_name': value_name,
                'checked': checked,
                'select_value': selectValue,
                'unselect_value': unselectValue,
                'title': title,
                'title_width': titleWidth,
            })
        }
        return {
            'type': 'checkbox',
            'checkbox_list': checkbox_list,
            'title': inputTitle,
            'title_width': inputTitleWidth,
            'linkage': linkage,
            'style': style,
            'margin_left': inputMarginLeft,
            'margin_right': inputMarginRight,
        }
    }

    function input_send_text_input_group_checkbox_input_value_fun(input) {
        if (!input.checkbox_list) {
            return {}
        }
        const v = {}
        for (let i = 0; i < input.checkbox_list.length; i++) {
            const checkbox = input.checkbox_list[i]
            if (checkbox.value_name) {
                v[checkbox.value_name] = checkbox.checked ? checkbox.select_value : checkbox.unselect_value
            }
        }
        return v
    }

    //注册
    input_send_text_input_group_register("checkbox", "多选框",
        "main-button-type-input-send-text-show-input-group-checkbox-template",
        "setting-button-type-input-send-text-show-input-group-checkbox-template",
        "setting-button-type-input-send-text-input-group-checkbox-template",
        input_send_text_input_group_checkbox_input_data_fun,
        input_send_text_input_group_checkbox_input_value_fun
    )
</script>
{% endblock %}
{% block context %}

{% endblock %}