{% block style %}
<style>
    #system-setting-tab-button-box {
        padding: 5px;
    }
</style>
{% endblock %}
{% block script %}
<script id="system-setting-template" type="text/html">
    <div class="tab-select-box">
        <div id="system-setting-tab-select" class="tab-select">
            {{each tba_list tab tab_index}}
            <span onclick="systemSettingTabSelectClick({{tab_index}})">{{tab.title}}</span>
            {{/each}}
        </div>
        <div class="tab-select-box-border"></div>
    </div>
    <div id="system-setting-tab-button-box" class="tab-button-box">
        <div id="system-setting-tab-button-main" class="tab-button-main">

        </div>
    </div>
</script>
<script>
    const SYSTEM_SETTING_TBA_LIST = [{
        "tab_id": "tab_0",
        "title": "触发器",
        "template_id": "system-setting-trigger-template",
        "describe": `
            <div class="help-box">
                <button class="help-button" onclick="helpBoxTrigger(this)">打开帮助</button>
                <div class="help-context" style="display: none;">
                    <div>session auto：表示打开iterm2 tab时自动注册触发器</div>
                    <div>action：Invoke Script Function 可使用 shortcut_html_send_text，shortcut_html_event,shortcut_html_event_feishu 等方法</div>
                </div>
            </div>
        `,
        "value_fun": function () {
            if (STORAGE.custom_trigger == null) {
                STORAGE.custom_trigger = []
            }
            return {
                edit_type: 'text',
                variable_list: STORAGE.custom_trigger,
                trigger_action_list: [{
                    'name': 'Invoke Script Function',
                    'value': 'iTermRPCTrigger'
                }]
            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`触发器修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
        }
    }, {
        "tab_id": "tab_1",
        "title": "事件文本",
        "template_id": "system-setting-variable-template",
        "describe": `
            <div class="help-box">
                <button class="help-button" onclick="helpBoxTrigger(this)">打开帮助</button>
                <div class="help-context" style="display: none;">
                    <div>事件可在Triggers中使用(当前页面脚本为python)，使用方法如下：</div>
                    <div style="padding-top: 10px;">0.所有脚本可使用[[session变量]][[自定变量]][[自定py]]和内置方法</div>
                    <div>0.0.[[session变量]]使用方式 获取变量 session_data.get('变量名称')  设置变量session_data.变量名 = 值 </div>
                    <div>0.1.[[自定变量]]使用方式 获取变量 data.get('自定变量名称') 设置变量 data.变量名 = 值 </div>
                    <div>0.2.自定py&nbsp; PY.方法名称(参数) 如：PY.to_int([[变量]], 0)</div>
                    <div>0.3.内置方法</div>
                    <div>0.3.1.PYX.send_text 发送文本。使用方式：await PYX.send_text("发送文本")</div>
                    <div>0.3.2.PYX.alert 提示框。使用方式：await PYX.alert("主标题","子标题")</div>
                    <div>0.3.3.PYX.confirm 确认框。使用方式：await PYX.confirm("主标题","子标题",['按钮1','按钮2'])，按钮可不传默认['ok','cancel']</div>
                    <div>0.3.4.PYX.prompt 提示输入框。使用方式：await PYX.prompt("主标题","子标题",placeholder="提示文本",default_value="默认文本")</div>
                    <div>0.3.5.PYX.send_http 发送请求 使用方式：await PYX.send_http(url, method, headers: None, params: None, data: None, json_data: None)</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回结果{ "status": True, "data": {"status": 200, "text": "", "headers": {"key":"value"}}, "message":
                    <div>0.3.6.PYX.screen_text 获取窗口文本(最后多少行) 使用方式：await PYX.screen_text(50) 获取最后50行 </div>
                    <div>0.3.7.PYX.send_feishu 发送飞书信息 使用方式：await PYX.send_feishu('token', 'title', 'context', 'note') </div>
            "错误信息"}}</div>
                    <div style="padding-top: 10px;">1.发送文本，需要脚本设置返回值，方式：results['event']&nbsp;=&nbsp;"结果"，例如：results['event']&nbsp;=&nbsp;1+1+1+1</div>
                    <div>1.1.无参发送文本 shortcut_html_send_text(event_name:&nbsp;"事件名称\") </div>
                    <div>1.2.入参发送文本 shortcut_html_send_textx(event_name:&nbsp;"事件名称",&nbsp;params:&nbsp;[1,2,3]) 参数使用方式params[0]</div>
                    <div style="padding-top: 10px;">2.获取文本，可在Triggers中使用事件返回的数据，需要脚本设置返回值，方式：results['event']&nbsp;=&nbsp;"结果"，例如：results['event']&nbsp;=&nbsp;1+1+1</div>
                    <div>2.1.无惨获取文本 \\(shortcut_html_get_text(event_name:&nbsp;"事件名称"))</div>
                    <div>2.2.入参获取文本 \\(shortcut_html_get_textx(event_name:&nbsp;"事件名称",&nbsp;params:&nbsp;[1,2,3]))  可以使用传入参数，使用方式params[0]</div>
                    <div style="padding-top: 10px;">3.触发事件(无返回值)，可在Triggers中使用。</div>
                    <div>3.1.无参事件 shortcut_html_event(event_name:&nbsp;"事件名称"))</div>
                    <div>3.2.入参事件 shortcut_html_eventx(event_name:&nbsp;"事件名称",&nbsp;params:&nbsp;[1,2,3]))  可以使用传入参数，使用方式params[0]</div>
                    <div style="padding-top: 10px;">4.触发事件发送飞书(可携带屏幕数据)，可在Triggers中使用。</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用方式：shortcut_html_event_feishu(feishu_token: "token", title: "title", context:"title", screen_text_line=20, silence_second=1)</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;feishu_token 为机器人token，screen_text_line 附带屏幕文本行数  0为不携带。 silence_second(秒)单位时间内不重复发送信息</div>
                </div>
            </div>
        `,
        "value_fun": function () {
            if (STORAGE.event_send_text == null) {
                STORAGE.event_send_text = []
            }
            return {
                edit_type: 'textarea',
                variable_list: STORAGE.event_send_text
            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`事件文本修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
            storageResetEventSendMap()
        }
    }, {
        "tab_id": "tab_2",
        "title": "自定变量",
        "template_id": "system-setting-variable-template",
        "describe": `
            <div class="help-box">
                <button class="help-button" onclick="helpBoxTrigger(this)">打开帮助</button>
                <div class="help-context" style="display: none;">
                    将会在事件文本中使用，可以在js按钮和修改变量按钮中进行修改
                </div>
            </div>
        `,
        "value_fun": function () {
            if (STORAGE.custom_variable == null) {
                STORAGE.custom_variable = []
            }
            return {
                edit_type: 'textarea',
                variable_list: STORAGE.custom_variable
            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`自定变量修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
            storageResetCustomVariableMap()
        }
    }/*, {
        "tab_id": "tab_3",
        "title": "用户变量",
        "template_id": "system-setting-variable-template",
        "describe": "将会在Triggers中使用，使用时为 (user.[[变量名称]])",
        "value_fun": function () {
            if (STORAGE.user_variable == null) {
                STORAGE.user_variable = []
            }
            return {
                edit_type: 'text',
                variable_list: STORAGE.user_variable,

            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`用户变量修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
        }
    }*/, {
        "tab_id": "tab_4",
        "title": "自定py",
        "template_id": "system-setting-variable-template",
        "describe": `
            <div class="help-box">
                <button class="help-button" onclick="helpBoxTrigger(this)">打开帮助</button>
                <div class="help-context" style="display: none;">
                    <div>可在事件内使用 PY.方法名称 调用，例如 PY.to_int([[变量]], 0)。</div>
                    <div>编写脚本为正常方法定义，名字为方法名称。例：
<pre>
def to_int(v, d=None):
    try:
        return int(v)
    except Exception:
        return d

# 也可主动注册多个方法
PY.install('方法名', 方法名)
PY.install('to_int', to_int)
</pre>
                    </div>
                </div>
        </div>
        `,
        "value_fun": function () {
            if (STORAGE.py_method == null) {
                STORAGE.py_method = [{
                    "name": "to_int",
                    "value": "def to_int(v, d=None):\n    try:\n        return int(v)\n    except Exception:\n        return d"
                }]
            }
            return {
                edit_type: 'textarea',
                variable_list: STORAGE.py_method,
            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`自定py修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
            storageResetPyMethod()
        }
    }, {
        "tab_id": "tab_5",
        "title": "自定js",
        "template_id": "system-setting-variable-template",
        "describe": `
            <div class="help-box">
                <button class="help-button" onclick="helpBoxTrigger(this)">打开帮助</button>
                <div class="help-context" style="display: none;">
                    <div>可在其他使用js的地方使用 JS.变量名称 调用，例如 JS.to_int([[变量]], 0)。</div>
                    <div>编写脚本为正常方法定义，名字为方法名称。例：
<pre>
function to_int(v, def){
    try{
        const c= parseInt(v)
        if(isNaN(c)){
            return def
        }
        return c
    }catch (e){
        return def
    }
}

# 也可主动注册多个方法
JS.install('方法名', 方法名)
JS.install('to_int', to_int)
</pre>
                    </div>
                    <div>可以使用 sendHttp方法发送请求(无跨域问题)</div>
                    <div>使用方法 { url:"", method:"", headers:{'key':'value'}, params:{'key':'value'}, data:{'key':'value'}, json:'key':'value'}</div>
                    <div>返回结果 { "status": True, "data": {"status": 200, "text": "", "headers": {"key":"value"}}, "message": "错误信息"}}</div>
               </div>
        </div>
        `,
        "value_fun": function () {
            if (STORAGE.user_js == null) {
                STORAGE.user_js = [{
                    "name": "to_int",
                    "value": "function to_int(v, def){\n    try{\n        const c= parseInt(v)\n        if(isNaN(c)){\n            return def\n        }\n        return c\n    }catch (e){\n        return def\n    }\n}"
                }]
            }
            return {
                edit_type: 'textarea',
                variable_list: STORAGE.user_js,

            }
        },
        "value_change_fun": function (variable, change_type) {
            console.log(`自定js修改,name:${variable.name},value:${variable.value},change_type:${change_type}`)
            try {
                Function(`
                    ${variable.value}

                    try {
                        JS.install('${variable.name}', ${variable.name})
                    } catch (e) {

                    }
                `)()
            } catch (e) {
                alert(`自定js错误，name：${variable.name}，error：${e}`)
            }
        }
    }]
    const SYSTEM_SETTING_TBA_MAP = SYSTEM_SETTING_TBA_LIST.reduce((map, val, i) => {
        map[val.tab_id] = val
        return map;
    }, new Map())

    const VARIABLE_TYPE_LIST = [{
        'type': 'custom_variable',
        'name': '自定变量',
        'data': STORAGE_CUSTOM_VARIABLE,
        'init': function (name, value) {
            return {"name": name, "value": value}
        }
    }/*, {
        'type': 'user_variable',
        'name': '用户变量',
        'data': STORAGE_USER_VARIABLE,
        'init': function (name, value) {
            return {"name": name, "value": value}
        }
    }*/]
    const VARIABLE_TYPE_MAP = VARIABLE_TYPE_LIST.reduce((map, val, i) => {
        map[val.type] = val
        return map;
    }, new Map())

    function inputGetVariableData(variable_type, value_name) {
        if (!value_name) {
            return;
        }
        const variableTypeData = VARIABLE_TYPE_MAP[variable_type]
        if (!variableTypeData) {
            return
        }
        const variableDataList = variableTypeData.data
        for (let i in variableDataList) {
            const variableData = variableDataList[i]
            if (variableData.name === value_name) {
                return variableData;
            }
        }
        if (variableTypeData.init) {
            const variableData = variableTypeData.init(value_name, "")
            variableDataList.push(variableData)
            return variableData
        }
        return null
    }

    function inputGetVariableValue(variable_type, value_name) {
        const variableData = inputGetVariableData(variable_type, value_name)
        if (variableData) {
            return variableData.value
        }
        return ''
    }

    function changeCustomVariable(value_name, value) {
        changeVariable('custom_variable', value_name, value)
    }

    function changeSessionVariable(value_name, value) {
        saveSessionStorage(value_name, value)
    }

    function changeVariable(variable_type, value_name, value) {
        const variableData = inputGetVariableData(variable_type, value_name)
        if (variableData && variableData.value !== value) {
            variableData.value = value
            storageResetCustomVariableMap()
        }
    }

    function getCustomVariableData() {
        return getVariableData('custom_variable')
    }

    function getVariableData(variable_type) {
        const variableTypeData = VARIABLE_TYPE_MAP[variable_type]
        if (variableTypeData == null) {
            return {}
        }

        const data = {}
        const variableDataList = variableTypeData.data
        for (let i in variableDataList) {
            const variableData = variableDataList[i]
            data[variableData.name] = variableData.value
        }
        return data
    }


    function openSystemSettingWindow() {
        openFloatingWindow('system-setting-template', {
            'tba_list': SYSTEM_SETTING_TBA_LIST,
            'storage': STORAGE,
        }, "系统设置", function () {
            initSettingTabBox()
            return true
        })
        systemSettingTabSelectClick()
    }

    function initSystemSettingTabButtonMain(tab_id) {
        const tab = SYSTEM_SETTING_TBA_MAP[tab_id]
        if (tab) {
            $("#system-setting-tab-button-main").html(template(tab.template_id, {
                'tab_id': tab_id,
                'describe': tab.describe,
                'tab_value': tab.value_fun(),
            }))
        }

    }

    function systemSettingTabSelectClick(index) {
        if (index == null) {
            index = STORAGE.system_setting_tba_index
        }
        if (index == null) {
            index = 0
        }
        if (index < 0 || index >= SYSTEM_SETTING_TBA_LIST.length) {
            index = 0
        }
        if (index !== STORAGE.system_setting_tba_index) {
            STORAGE.system_setting_tba_index = index
        }
        const selectList = $("#system-setting-tab-select>span")
        selectList.removeClass('activity')
        selectList.eq(index).addClass('activity')

        const tab = SYSTEM_SETTING_TBA_LIST[index]
        initSystemSettingTabButtonMain(tab.tab_id)
    }
</script>
{% endblock %}
{% block context %}

{% endblock %}