{% block style %}
<style>

</style>
{% endblock %}
{% block script %}
<script id="system-setting-variable-template" type="text/html">
    <div>
        名称：<input id="system-setting-variable-add-name" type="text">
        {{if tab_value.edit_type == 'text'}}
        值：<input id="system-setting-variable-add-value" type="text">
        {{else}}
        值：<textarea id="system-setting-variable-add-value" rows="2" style="vertical-align: bottom;"></textarea>
        {{/if}}
        <button onclick="addSystemSettingVariable('{{tab_id}}')">新增</button>
    </div>
    <div style="padding-top: 5px;">
        {{@describe}}
    </div>
    {{if tab_id == 'tab_1' && tab_value.variable_list && tab_value.variable_list.length>0}}
    <div style="margin-top: 20px;" class="test-event-name-box">
        事件：
        <select class="test-event-name-event_name">
            {{each tab_value.variable_list variable index}}
            <option value="{{variable.name}}">{{variable.name}}</option>
            {{/each}}
        </select>
        参数：<input type="text" class="test-event-name-event_params">
        <button onclick="settingTestEventName(this)">测试事件</button>
        <div style="font-size: 12px;color: #bebebe; padding: 3px 0 10px 0">
            参数以||隔开，测试触发事件已得到返回数据(shortcut_html_get_textx(event_name:&nbsp;"事件名称",&nbsp;params:&nbsp;[1,2,3]))<br/>
            其他方法执行结果一致，例如发送文本实际运行时会将返回值发送到窗口，显示返回值中的换行替换为↵显示
        </div>
        <div class="test-event-name-result-status" style="color: #6f96c4;"></div>
        <pre class="test-event-name-result" style="overflow: scroll;"></pre>
    </div>
    {{/if}}
    <table style="width: 100%;margin-top: 20px;border-collapse:collapse;border-color:white; " cellspacing="2"
           cellpadding="5" border="1">
        <tr>
            <td style="width: 30%">名称</td>
            <td style="width: 30%">值</td>
            <td>操作</td>
        </tr>
        {{each tab_value.variable_list variable index}}
        <tr class="system-setting-variable-table-line" _index="{{index}}">
            <td>{{variable.name}}</td>
            <td>
                {{if tab_value.edit_type == 'text'}}
                <input type="text" class="system-setting-variable-table-line-value"
                       style="width: 100%;" value="{{variable.value}}">
                {{else}}
                <textarea class="system-setting-variable-table-line-value" rows="2" style="width: 100%;">{{variable.value}}</textarea>
                {{/if}}
            </td>
            <td>
                <button onclick="editSystemSettingVariable(this,'{{tab_id}}')"> 修改</button>
                <button onclick="moveSystemSettingVariable(this,'{{tab_id}}',-1)"
                        style="margin-left: 10px;">上移
                </button>
                <button onclick="moveSystemSettingVariable(this,'{{tab_id}}',1)">下移</button>
                <button ondblclick="deleteSystemSettingVariable(this,'{{tab_id}}')"
                        style="margin-left: 20px;">删除
                </button>
            </td>
        </tr>
        {{/each}}
    </table>
</script>
<script>
    function addSystemSettingVariable(tab_id) {
        const tab_value = SYSTEM_SETTING_TBA_MAP[tab_id].value_fun()
        const name = $("#system-setting-variable-add-name").val()
        const value = $("#system-setting-variable-add-value").val()
        if (!name) {
            alert("请输入名称")
            return
        }
        const variable_list = tab_value.variable_list
        for (let i in variable_list) {
            const variable = variable_list[i]
            if (variable.name === name) {
                alert("已有相同名称")
                return
            }
        }
        const variable = {
            'name': name,
            'value': value,
        }
        variable_list.push(variable)
        SYSTEM_SETTING_TBA_MAP[tab_id].value_change_fun(variable, "add")
        initSystemSettingTabButtonMain(tab_id)
    }

    function editSystemSettingVariable(that, tab_id) {
        const tableLineDom = $(that).parents('.system-setting-variable-table-line')
        const index = parseInt(tableLineDom.attr("_index"))
        if (index == null) {
            return;
        }
        const tab_value = SYSTEM_SETTING_TBA_MAP[tab_id].value_fun()
        const variable = tab_value.variable_list[index]
        const newValue = tableLineDom.find('.system-setting-variable-table-line-value')[0].value
        if (newValue !== variable.value) {
            variable.value = newValue
            SYSTEM_SETTING_TBA_MAP[tab_id].value_change_fun(tab_value.variable_list[index], "edit")
        }
    }

    function deleteSystemSettingVariable(that, tab_id) {
        const tableLineDom = $(that).parents('.system-setting-variable-table-line')
        const index = parseInt(tableLineDom.attr("_index"))
        if (index == null) {
            return;
        }
        const tab_value = SYSTEM_SETTING_TBA_MAP[tab_id].value_fun()
        const variable = tab_value.variable_list[index]
        tab_value.variable_list.splice(index, 1)
        SYSTEM_SETTING_TBA_MAP[tab_id].value_change_fun(variable, "delete")
        tableLineDom.remove()
    }

    function moveSystemSettingVariable(that, tab_id, move) {
        const tab_value = SYSTEM_SETTING_TBA_MAP[tab_id].value_fun()
        const tableLineDom = $(that).parents('.system-setting-variable-table-line')
        const index = parseInt(tableLineDom.attr("_index"))
        if (index == null) {
            return;
        }
        const variable_list = tab_value.variable_list
        if (index + move < 0 || index + move >= variable_list.length) {
            return
        }
        [variable_list[index], variable_list[index + move]] = [variable_list[index + move], variable_list[index]];

        if (move > 0) {
            const nextTableLineDom = tableLineDom.next();
            if (nextTableLineDom.length > 0) {
                nextTableLineDom.insertBefore(tableLineDom)
                nextTableLineDom.attr("_index", index)
                tableLineDom.attr("_index", index + move)
            }

        } else {
            const prevTableLineDom = tableLineDom.prev()
            if (prevTableLineDom.length > 0) {
                prevTableLineDom.insertAfter(tableLineDom)
                prevTableLineDom.attr("_index", index)
                tableLineDom.attr("_index", index + move)
            }
        }
    }

    function settingTestEventName(that) {
        const boxDom = $(that).parents('.test-event-name-box')
        const eventParams = boxDom.find('.test-event-name-event_params')[0].value
        const eventName = boxDom.find('.test-event-name-event_name')[0].value
        const r = sendTestEventName(eventName, eventParams.split('||'))
        boxDom.find('.test-event-name-result-status').text(r.status ? '测试成功，返回值如下：' : '测试失败，错误信息如下：')
        boxDom.find('.test-event-name-result').text(r.status ? (r.data + "" ? (r.data + "").replace(/\n/g, '↵\n') : '无返回值') : r.message)
    }
</script>
{% endblock %}
{% block context %}

{% endblock %}