{% block style %}
<style>

</style>
{% endblock %}
{% block script %}
<!--显示模板-->
<script id="main-button-type-show-variable-radio-template" type="text/html">
    <div class="input-send-text-group-box">
        {{if tab_button.margin_left}}
        <div class="input-send-text-margin-box"
             style="width:{{tab_button.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if tab_button.title}}
            <span class="title-span"
                  style="{{if tab_button.title_width}}width: {{tab_button.title_width}}px;{{/if}} ">
            {{tab_button.title}}
        </span>
            {{/if}}

            {{each tab_button.radio_list radio radio_index}}
            <label class="title-label {{if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                   style="{{if radio.title_width}}width: {{radio.title_width}}px;{{/if}}">
                {{if radio.value == template_data.get_value(tab_button.variable_type,tab_button.value_name) }}
                <input type="radio" name="{{tab_button.uid}}" checked
                       onclick="changeVariable('{{tab_button.variable_type}}','{{tab_button.value_name}}','{{radio.value}}')">
                {{else}}
                <input type="radio" name="{{tab_button.uid}}"
                       onclick="changeVariable('{{tab_button.variable_type}}','{{tab_button.value_name}}','{{radio.value}}')">
                {{/if}}
                {{radio.title}}
            </label>
            {{/each}}
        </div>
        {{if tab_button.margin_right}}
        <div class="input-send-text-margin-box"
             style="width:{{tab_button.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>
<!--编辑模板-->
<script id="setting-button-type-show-variable-radio-template" type="text/html">
    <div class="input-send-text-group-box"
         draggable="true" _index="{{tab_button_index}}" _parent_index="{{tab_group_index}}"
         onclick="settingEditVariableRadioWindow({{tab_index}},{{tab_group_index}},{{tab_button_index}})">
        {{if tab_button.margin_left}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonData({{tab_index}},{{tab_group_index}},{{tab_button_index}},'margin_left','width')"
             style="width:{{tab_button.margin_left}}px;">
        </div>
        {{/if}}
        <div class="input-send-text-group-context-box">
            {{if tab_button.title}}
            <span class="title-span drag-width"
                  drag-width="dragWidthButtonData({{tab_index}},{{tab_group_index}},{{tab_button_index}},'title_width','width')"
                  style="{{if tab_button.title_width}}width: {{tab_button.title_width}}px;{{/if}} ">
            {{tab_button.title}}
            </span>
            {{/if}}

            {{each tab_button.radio_list radio radio_index}}
            <label class="title-label drag-width {{if tab_button.style}}button-color-{{tab_button.style}}{{/if}}"
                   drag-width="dragWidthButtonRadioData({{tab_index}},{{tab_group_index}},{{tab_button_index}},{{radio_index}},'title_width','width')"
                   style="{{if radio.title_width}}width: {{radio.title_width}}px;{{/if}}">
                {{if radio.value == template_data.get_value(tab_button.variable_type,tab_button.value_name) }}
                <input type="radio" name="{{tab_button.uid}}" checked>
                {{else}}
                <input type="radio" name="{{tab_button.uid}}">
                {{/if}}
                {{radio.title}}
            </label>
            {{/each}}
        </div>
        {{if tab_button.margin_right}}
        <div class="input-send-text-margin-box drag-width"
             drag-width="dragWidthButtonData({{tab_index}},{{tab_group_index}},{{tab_button_index}},'margin_right','width')"
             style="width:{{tab_button.margin_right}}px;">
        </div>
        {{/if}}
    </div>
</script>

<script id="setting-button-type-variable-radio-group-template" type="text/html">
    <div class="setting-button-type-group-radio-list setting-button-input-send-text-box-group">
        <table>
            <tr>
                <td>标题</td>
                <td><input type="text" class="setting-button-type-group-radio-list-title"
                           value="{{radio.title}}"></td>
                <td>标题宽度</td>
                <td><input type="number" class="setting-button-type-group-radio-list-title_width"
                           value="{{radio.title_width}}"></td>
            </tr>
            <tr>
                <td>值</td>
                <td><input type="text" class="setting-button-type-group-radio-list-value"
                           value="{{radio.value}}"></td>
            </tr>
        </table>
        {{include "setting-button-type-show-input-send-text-operation-template"}}
    </div>
</script>
<!--编辑模板(弹框)-->
<script id="setting-button-type-variable-radio-template" type="text/html">
    <div>
        <p>
            按钮类型：单选框(修改变量)
        </p>
        <table>

            <tr>
                <td> 变量名称：</td>
                <td>
                    <input class="setting-button-value_name" type="text" value="{{button_info.value_name}}">
                </td>
                <td>变量类型：</td>
                <td>
                    <select class="setting-button-variable_type">
                        {{each variable_type_list variable_type}}
                        {{if variable_type.type == button_info.variable_type}}
                        <option value="{{variable_type.type}}" selected>{{variable_type.name}}</option>
                        {{else}}
                        <option value="{{variable_type.type}}">{{variable_type.name}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>按钮颜色：</td>
                <td>
                    <select class="setting-button-style {{if button_info.style}}button-color-{{button_info.style}}{{/if}}"
                            onchange="settingButtonStyleSelect(this)">
                        {{each button_style_list button_style }}
                        {{if button_info.style==button_style }}
                        <option value="{{button_style}}" selected> {{button_style}}</option>
                        {{else}}
                        <option value="{{button_style}}"> {{button_style}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td> 变量信息：</td>
                <td colspan="3">
                    <div class="setting-button-type-input-send-text-show-input-group-box-main">
                        <div class="setting-button-type-input-send-text-show-input-group-box">
                            {{each button_info.radio_list radio radio_index}}
                            <% include('setting-button-type-variable-radio-group-template',
                            {
                            'button_input':button_input,
                            'radio':radio,
                            }
                            ) %>
                            {{/each}}
                        </div>
                        <div style="margin-bottom: 15px;">
                            <button onclick="settingEditVariableRadioGroupAdd(this)">
                                新增单选项
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>标题：</td>
                <td><input class="setting-button-title" type="text"
                           value="{{button_info.title}}">
                </td>
                <td>标题宽度：</td>
                <td><input class="setting-button-title_width" type="number"
                           value="{{button_info.title_width}}"></td>
            </tr>

            <tr>
                <td> 前间距</td>
                <td><input class="setting-button-margin_left" type="number"
                           value="{{button_info.margin_left}}"></td>
                <td> 后间距：</td>
                <td><input class="setting-button-margin_right" type="number"
                           value="{{button_info.margin_right}}"></td>
            </tr>
        </table>
        <button onclick="settingEditVariableRadio(this,{{tab_index}},{{group_index}},{{button_index}})">保存</button>
        {{include 'setting-button-operation-template'}}
    </div>
</script>
<script>
    function settingEditVariableRadioWindowButtonInfo(tab_index, tab_group_index, button_index) {
        if (button_index >= 0) {
            return STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[button_index]
        }
        return {
            radio_list: [{}]
        }
    }

    function settingEditVariableRadioWindow(tab_index, tab_group_index, button_index) {
        const buttonInfo = settingEditVariableRadioWindowButtonInfo(tab_index, tab_group_index, button_index)
        openFloatingWindow('setting-button-type-variable-radio-template', {
            "tab_index": tab_index,
            "group_index": tab_group_index,
            "button_index": button_index,
            "button_style_list": SETTING_BUTTON_STYLE,
            "button_info": buttonInfo,
            "variable_type_list": VARIABLE_TYPE_LIST
        }, "单选框(修改变量)")
    }

    function settingEditVariableRadioGroupAdd(that) {
        $(that).parents('.setting-button-type-input-send-text-show-input-group-box-main').find('.setting-button-type-input-send-text-show-input-group-box').append(template('setting-button-type-variable-radio-group-template', {
            "radio": {},
        }))
    }

    function settingEditVariableRadio(that, tab_index, tab_group_index, button_index) {
        const floatContent = $(that).parents('.floating_window_float_content_box_content')
        const valueName = floatContent.find(".setting-button-value_name")[0].value
        const variableType = floatContent.find(".setting-button-variable_type")[0].value
        const buttonStyle = floatContent.find(".setting-button-style")[0].value
        const title = floatContent.find(".setting-button-title")[0].value
        const titleWidth = parseInt(floatContent.find(".setting-button-title_width")[0].value)
        const buttonMarginLeft = floatContent.find(".setting-button-margin_left")[0].value
        const buttonMarginRight = floatContent.find(".setting-button-margin_right")[0].value


        const radioDomList = floatContent.find('.setting-button-type-input-send-text-show-input-group-box').find('.setting-button-type-group-radio-list')
        if (radioDomList.length <= 0) {
            return null
        }

        const radio_list = []
        for (let i = 0; i < radioDomList.length; i++) {
            const radioDom = radioDomList.eq(i)
            const title = radioDom.find('.setting-button-type-group-radio-list-title')[0].value
            const titleWidth = radioDom.find('.setting-button-type-group-radio-list-title_width')[0].value
            const value = radioDom.find('.setting-button-type-group-radio-list-value')[0].value
            radio_list.push({
                'title': title,
                'title_width': titleWidth,
                'value': value,
            })
        }

        if (button_index >= 0) {
            const button = STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons[button_index]
            button.value_name = valueName
            button.variable_type = variableType
            button.style = buttonStyle
            button.radio_list = radio_list
            button.title = title
            button.title_width = titleWidth
            button.margin_left = buttonMarginLeft
            button.margin_right = buttonMarginRight
        } else {
            STORAGE.tabs[tab_index].tab_groups[tab_group_index].buttons.push({
                "type": "variable_radio",
                "value_name": valueName,
                "variable_type": variableType,
                "style": buttonStyle,
                "radio_list": radio_list,
                "title": title,
                "title_width": titleWidth,
                "margin_left": buttonMarginLeft,
                "margin_right": buttonMarginRight,
                'uid': 'input-variable-radio-' + guid(),
            })
        }

        closeFloatingWindow()
        initSettingTabBox(tab_index)
    }

    //注册
    button_type_register(
        "variable_radio", "单选框(修改变量)", "用于修改事件变量，可以指定一个变量的的多个值进行快速更改。",
        "main-button-type-show-variable-radio-template", "setting-button-type-show-variable-radio-template", {
            'get_value': inputGetVariableValue
        },
        settingEditVariableRadioWindow
    )
</script>
{% endblock %}
{% block context %}

{% endblock %}