{% block style %}
<style>

</style>
{% endblock %}
{% block script %}
<script id="main-tab-button-group-html-template" type="text/html">
    <div class="tab-button-main tab-button-main-md ">
        {{@tab.html||""}}
    </div>
</script>
<script id="setting-tab-button-group-html-template" type="text/html">
    <div onclick="editHtmlWindow({{tab_index}})" class="tab-button-main tab-button-main-md dom-select-text"
         style="height: 100%;width: 100%;">
        {{@tab.html||""}}
    </div>
</script>
<script id="setting-edit-html-template" type="text/html">
    <table class="setting-edit-html-table tab-button-main-html" style="height: 100%;   width: 100%;">
        <tr style="height: 60%;">
            <td style="height: 100%;">
                <div class="setting-edit-html-show" style="vertical-align: top;width: 100%;height: 100%;">
                    {{@html}}
                </div>
            </td>
        </tr>
        <tr style="height: 40%;">
            <td style="height: 100%;">
                <textarea class="setting-edit-html-text" rows="20" style="width: 100%;height: 100%;margin: 0px"
                          oninput="settingEditHtmlInput(this)">{{html}}</textarea>
                <div style="padding-top: 20px;">
                    <button onclick="settingEditHtml(this,{{tab_index}})">保存</button>
                </div>
            </td>
        </tr>
    </table>
</script>


<script>
    function editHtmlWindow(tab_index) {
        const html = STORAGE.tabs[tab_index].html || ""
        openFloatingWindow('setting-edit-html-template', {
            "tab_index": tab_index,
            "html": html,
        }, "html编辑")
    }

    function settingEditHtmlInput(that) {
        $(that).parents('.setting-edit-html-table').find('.setting-edit-html-show').html(that.value)
    }

    function settingEditHtml(that, tab_index) {
        STORAGE.tabs[tab_index].html = $(that).parents('.setting-edit-html-table').find('.setting-edit-html-text').val()
        closeFloatingWindow()
        initSettingTabBox()
    }

    tab_type_register('html', 'html', 'html',
        'main-tab-button-group-html-template', 'setting-tab-button-group-html-template',
        'setting-tab-edit-template'
    )
</script>
{% endblock %}
{% block context %}

{% endblock %}

